# https://stackoverflow.com/questions/35278885/gitignore-exclusion-is-not-working-for-a-single-file/35279076#35279076
/node_modules/**
!node_modules/native-promise-only/
!node_modules/native-promise-only/npo.js

!node_modules/jquery/
!node_modules/jquery/dist/
!node_modules/jquery/dist/jquery.min.js
!node_modules/jquery/dist/jquery.min.map

/scripts/
/public/
